<form [formGroup]="faqForm" class="form-group">
    <mat-form-field appearance="fill">
        <mat-label>{{ 'search' | translate }}</mat-label>
        <input matInput formControlName="query" id="query">
        <mat-error *ngIf="faqForm.get('query')?.invalid">
        </mat-error>
    </mat-form-field>

    <div *ngIf="faqForm.get('query')?.errors?.['noResults']" class="no-data-wrapper">
        <app-svg [svg]="'NO_DATA'"></app-svg>
    </div>
</form>

<mat-accordion>
    <mat-expansion-panel *ngFor="let faq of filteredFaqs">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ faq.question | translate}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ faq.answer | translate}}</p>
    </mat-expansion-panel>
</mat-accordion>