app-faq {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    mat-accordion {
        width: 50% !important;

        mat-expansion-panel {
            margin-bottom: 20px !important;
            border-radius: 2px !important;
        }
    }



    .form-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;

        margin: 5vh 0 0 0;

        mat-form-field {
            width: 50%;
        }
    }

    .search-results {
        width: 100%;
        height: 100%;
        margin-top: 5vh;
        color: #770b05;

        display: flex;
        justify-content: center;
        align-items: center;



    }

    .no-data-wrapper {
        width: 500px;
    }
}