@import '../common-styles/common-styles.scss';



.radios {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.right-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 24px;
    color: var(--primary-color);

    .blue {
        color: #3172C2;
        font-size: 1.2em;
    }

    .chart-desc {
        width: 50%;

        .buttons-section {
            justify-content: center;
        }

        .custom-table {
            background-color: transparent;
            color: var(--primary-color);

            th,
            td {
                border: 1px solid var(--primary-color);
                color: var(--primary-color);
            }

            .blue {
                color: #3172C2;
            }

            th {
                background-color: transparent;
                color: var(--primary-color);
            }
        }

    }

    .chart {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        canvas {
            width: 500px !important;
        }
    }
}