<div class="card-wrapper">
    <h1>{{"plans" | translate}}</h1>
    <mat-card>
        <mat-card-content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, corrupti veritatis? Quasi doloremque
            tenetur dolores, atque nostrum iste hic veritatis consequuntur, architecto eligendi nesciunt error totam
            distinctio qui soluta delectus fugiat nisi tempore. Blanditiis nihil unde incidunt sunt non. Quas ab
            repellat dolor asperiores voluptas, est necessitatibus delectus ea corrupti voluptatibus illum quod eos
            suscipit nostrum incidunt deleniti, temporibus vitae tempora qui quisquam vero, dicta assumenda numquam.
            Praesentium fuga accusantium possimus iusto. Accusamus harum magni quasi provident porro dolores ipsum
            voluptatibus? Explicabo, recusandae quibusdam qui, quo eius molestias tempore quam doloribus voluptas, atque
            perferendis corporis. Qui modi hic aliquam alias!
        </mat-card-content>
    </mat-card>
</div>