<div class="card-wrapper">
    <div class="card-content">
        <div class="header-title-card">
            <h3>{{"plans" | translate}}</h3>

            <div class="add-section">
                <div class="actions">
                    <span class="button-text">{{"create-plan" | translate}}</span>
                    <button mat-fab color="primary">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="actions">
                    <span class="button-text">{{"generate-plan" | translate}}</span>
                    <button mat-fab color="primary" (click)="generatePlan()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

            </div>
        </div>
        <div class="table-actions">

        </div>
        <div class="table-container">

        </div>
    </div>
</div>