.card-wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;



    h2 {
        margin: 0;
    }

    .card-content {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        // padding: 5vh 0;

    }


}

@media (max-width: 1024px) {
    .card-wrapper {

        .card-content {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

        }


    }
}