@import '../../../upper-nav/common-styles/common-styles.scss';

app-generate-plan {

    .radios {
        margin-bottom: 3vh;
    }

    .mdc-checkbox__background {
        border-color: var(--primary-color) !important;
    }

    .mdc-label {
        color: var(--primary-color) !important;
    }

    .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
        background-color: var(--mdc-checkbox-selected-icon-color) !important;
        border-color: var(--mdc-checkbox-selected-icon-color) !important;
    }


}