@import '../common-styles/common-styles.scss';



.radios {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.right-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 24px;
    color: var(--primary-color);

    .blue {
        color: #3c86cf;
        font-size: 1.2em;
    }

    .chart-desc {
        width: 50%;


    }

    .chart {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        canvas {
            width: 500px;
        }
    }
}