<div class="card-wrapper">
    <h1>{{"dashboard" | translate}}</h1>
    <mat-card>
        <mat-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam omnis fugit blanditiis doloribus dolorum
            necessitatibus non quod ad, aut porro fugiat in dolore rem odio. Ratione molestias amet ex id, officia
            deleniti iure, cumque ducimus quo temporibus dolorum inventore adipisci harum cum quidem ab! Sit adipisci
            est quae ex vero totam labore doloremque beatae porro deleniti fugit dicta debitis, illo quam aspernatur vel
            quod corrupti, libero rerum quas exercitationem tempora perferendis. Eos, quidem dolorum! Molestias possimus
            praesentium laudantium libero culpa. Mollitia, porro perferendis. Earum temporibus rem perspiciatis illo, a
            dignissimos? Sunt corrupti, vitae obcaecati enim amet velit explicabo minus exercitationem ipsa impedit
            nihil. Inventore, molestias distinctio sapiente dicta fugit magnam repellendus voluptatem cupiditate quos
            aliquid fuga eveniet at nisi dignissimos beatae veniam quaerat earum fugiat ad! Optio pariatur maxime illum
            aspernatur, similique praesentium dolorem repellat ex rem fuga animi. Voluptates asperiores dolorum
            obcaecati quas autem tempore, ex error maiores quibusdam consequuntur non cum eligendi dolores alias
            corrupti. Voluptatibus vitae libero alias, magnam veniam labore, fuga animi facilis quibusdam tempora vero,
            necessitatibus inventore voluptate doloribus molestias distinctio hic quas eos provident modi. Voluptatibus
            suscipit doloremque eveniet aspernatur, iure veritatis harum ex eligendi facilis quod modi ut cupiditate at
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam omnis fugit blanditiis doloribus dolorum
            necessitatibus non quod ad, aut porro fugiat in dolore rem odio. Ratione molestias amet ex id, officia
            deleniti iure, cumque ducimus quo temporibus dolorum inventore adipisci harum cum quidem ab! Sit adipisci
            est quae ex vero totam labore doloremque beatae porro deleniti fugit dicta debitis, illo quam aspernatur vel
            quod corrupti, libero rerum quas exercitationem tempora perferendis. Eos, quidem dolorum! Molestias possimus
            praesentium laudantium libero culpa. Mollitia, porro perferendis. Earum temporibus rem perspiciatis illo, a
            dignissimos? Sunt corrupti, vitae obcaecati enim amet velit explicabo minus exercitationem ipsa impedit
            nihil. Inventore, molestias distinctio sapiente dicta fugit magnam repellendus voluptatem cupiditate quos
            aliquid fuga eveniet at nisi dignissimos beatae veniam quaerat earum fugiat ad! Optio pariatur maxime illum
            aspernatur, similique praesentium dolorem repellat ex rem fuga animi. Voluptates asperiores dolorum
            obcaecati quas autem tempore, ex error maiores quibusdam consequuntur non cum eligendi dolores alias
            corrupti. Voluptatibus vitae libero alias, magnam veniam labore, fuga animi facilis quibusdam tempora vero,
            necessitatibus inventore voluptate doloribus molestias distinctio hic quas eos provident modi. Voluptatibus
            suscipit doloremque eveniet aspernatur, iure veritatis harum ex eligendi facilis quod modi ut cupiditate at
            tenetur totam magnam, ea sed officia minus aperiam. Explicabo at quibusdam praesentium quaer
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam omnis fugit blanditiis doloribus dolorum
            necessitatibus non quod ad, aut porro fugiat in dolore rem odio. Ratione molestias amet ex id, officia
            deleniti iure, cumque ducimus quo temporibus dolorum inventore adipisci harum cum quidem ab! Sit adipisci
            est quae ex vero totam labore doloremque beatae porro deleniti fugit dicta debitis, illo quam aspernatur vel
            quod corrupti, libero rerum quas exercitationem tempora perferendis. Eos, quidem dolorum! Molestias possimus
            praesentium laudantium libero culpa. Mollitia, porro perferendis. Earum temporibus rem perspiciatis illo, a
            dignissimos? Sunt corrupti, vitae obcaecati enim amet velit explicabo minus exercitationem ipsa impedit
            nihil. Inventore, molestias distinctio sapiente dicta fugit magnam repellendus voluptatem cupiditate quos
            aliquid fuga eveniet at nisi dignissimos beatae veniam quaerat earum fugiat ad! Optio pariatur maxime illum
            aspernatur, similique praesentium dolorem repellat ex rem fuga animi. Voluptates asperiores dolorum
            obcaecati quas autem tempore, ex error maiores quibusdam consequuntur non cum eligendi dolores alias
            corrupti. Voluptatibus vitae libero alias, magnam veniam labore, fuga animi facilis quibusdam tempora vero,
            necessitatibus inventore voluptate doloribus molestias distinctio hic quas eos provident modi. Voluptatibus
            suscipit doloremque eveniet aspernatur, iure veritatis harum ex eligendi facilis quod modi ut cupiditate at
            tenetur totam magnam, ea sed officia minus aperiam. Explicabo at quibusdam praesentium quaer
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam omnis fugit blanditiis doloribus dolorum
            necessitatibus non quod ad, aut porro fugiat in dolore rem odio. Ratione molestias amet ex id, officia
            deleniti iure, cumque ducimus quo temporibus dolorum inventore adipisci harum cum quidem ab! Sit adipisci
            est quae ex vero totam labore doloremque beatae porro deleniti fugit dicta debitis, illo quam aspernatur vel
            quod corrupti, libero rerum quas exercitationem tempora perferendis. Eos, quidem dolorum! Molestias possimus
            praesentium laudantium libero culpa. Mollitia, porro perferendis. Earum temporibus rem perspiciatis illo, a
            dignissimos? Sunt corrupti, vitae obcaecati enim amet velit explicabo minus exercitationem ipsa impedit
            nihil. Inventore, molestias distinctio sapiente dicta fugit magnam repellendus voluptatem cupiditate quos
            aliquid fuga eveniet at nisi dignissimos beatae veniam quaerat earum fugiat ad! Optio pariatur maxime illum
            aspernatur, similique praesentium dolorem repellat ex rem fuga animi. Voluptates asperiores dolorum
            obcaecati quas autem tempore, ex error maiores quibusdam consequuntur non cum eligendi dolores alias
            corrupti. Voluptatibus vitae libero alias, magnam veniam labore, fuga animi facilis quibusdam tempora vero,
            necessitatibus inventore voluptate doloribus molestias distinctio hic quas eos provident modi. Voluptatibus
            suscipit doloremque eveniet aspernatur, iure veritatis harum ex eligendi facilis quod modi ut cupiditate at
            tenetur totam magnam, ea sed officia minus aperiam. Explicabo at quibusdam praesentium quaer
            tenetur totam magnam, ea sed officia minus aperiam. Explicabo at quibusdam praesentium quaerat, natus
            aliquam modi quas ea quidem, id aperiam qui reprehenderit eaque, illo ullam laudantium? Totam, itaque
            praesentium? Velit aliquam consectetur atque autem ab itaque. Aut quam excepturi dolorum temporibus, harum
            velit id eaque, voluptatibus magni possimus quisquam incidunt nisi numquam ipsum asperiores cupiditate
            voluptas porro similique ex, dolor exercitationem. Illum eaque alias ab reprehenderit earum dolore quia
            inventore repudiandae atque ad ducimus, neque veritatis libero similique consectetur? Unde, vel a ex
            aspernatur ducimus sed? Consequuntur corrupti eos sit, ullam a asperiores obcaecati nobis ex! Nam natus
            facere iure ducimus eos nostrum a illum! Cumque exercitationem accusantium ab iusto assumenda, corrupti
            reprehenderit aliquam temporibus. Labore amet soluta nisi aliquid cum. Ipsam incidunt quia, ipsum ipsa
            voluptates enim autem quasi nostrum dolore! Quibusdam incidunt debitis voluptate inventore, alias expedita
            rem suscipit enim sunt obcaecati hic soluta reprehenderit in, nam repudiandae illum facilis eveniet
            eligendi, sequi laboriosam. Odio doloremque voluptatem, earum quidem maxime aut ipsam architecto ea saepe
            nostrum tenetur cum deserunt temporibus fuga rem repellendus recusandae perspiciatis, vel labore soluta ut
            est quis sequi corrupti! Asperiores, illo placeat? Vitae ab ipsa, voluptates nobis necessitatibus ipsam
            beatae explicabo porro ex a totam blanditiis. Est natus velit doloremque sapiente nemo non at consequatur et
            itaque explicabo nostrum odit hic deleniti earum sequi eum fuga numquam incidunt, deserunt, fugiat
            similique, exercitationem iusto. Libero blanditiis inventore enim ullam! Quisquam quas mollitia ipsum
            delectus nobis optio at aut eum qui nam, sit laborum, ipsa omnis. Possimus magnam eos neque non
            reprehenderit nam totam recusandae libero, tempore, explicabo veritatis consectetur autem quis sit excepturi
            beatae quae harum quam nobis. Quia iste, earum pariatur aliquid facilis molestiae quae, exercitationem
            maiores quis dicta omnis quam excepturi, enim explicabo optio sint soluta? At suscipit accusamus, esse
            repudiandae necessitatibus culpa eum neque, nam impedit magni eos in. Quam illo voluptatibus ullam minus id
            inventore non eum nemo laboriosam aperiam? Perferendis repellendus vel quod iste in quaerat labore adipisci
            assumenda, magni incidunt obcaecati voluptates facilis recusandae qui minus corporis! Quas nostrum mollitia
            dignissimos repudiandae! Magni, sequi? Magni itaque hic tempore et voluptate temporibus minus quae fuga
            alias voluptatem cupiditate id quam debitis molestiae inventore, earum dolorem deserunt veniam iure quo
            autem blanditiis voluptates magnam mollitia. Obcaecati quos excepturi aliquid deserunt saepe magnam officia
            nisi at illum quasi, blanditiis dolorum similique corporis totam qui atque sint eligendi fuga eius, minus
            possimus accusantium. Qui a commodi iure illum debitis voluptates numquam quos sapiente, quidem voluptatum
            necessitatibus, dicta at hic officia quibusdam magnam placeat inventore quam odio rerum. Nulla tenetur
            illum, iure vero, quas accusamus adipisci autem odio modi a voluptates maxime, voluptas illo. Adipisci nulla
            similique nam quibusdam necessitatibus iusto minima, eveniet sunt quas amet magni minus laborum sint iste
            expedita eum alias quia placeat sequi neque quae molestias. Quisquam, atque aperiam odit iusto culpa porro.
            Quia ad iusto, odio deserunt recusandae veritatis dicta expedita? A sunt laboriosam vel neque magni modi,
            porro, laborum facilis cupiditate hic ex similique expedita eveniet voluptatibus cumque accusantium
            dignissimos dolor quidem. Facere reprehenderit dolores suscipit iste quaerat laboriosam impedit illo
            voluptates sed dicta ad officia laborum corrupti asperiores ullam tempora possimus minima dignissimos error
            odit, at eius nihil nesciunt ducimus? Illo maxime, autem a quae obcaecati voluptatibus quasi corporis.
            Repellendus placeat sequi ea quos culpa quia est cum ad, natus, saepe minima rem possimus enim quaerat illum
            consectetur eius ducimus illo vero non labore. Mollitia voluptatum exercitationem eos tenetur aperiam
            reiciendis et! Odit, perferendis dicta. Voluptatem iure corporis corrupti iste. Harum necessitatibus
            blanditiis sunt soluta nisi illo! Consectetur beatae ducimus quod cupiditate, fugit temporibus dolorum
            doloribus eligendi doloremque tenetur sapiente numquam iusto iure quaerat quia eos maxime, molestias autem a
            commodi voluptas? Nulla, dolores omnis harum mollitia illum officiis consectetur quae, repellat in vero
            dignissimos. Culpa exercitationem iusto modi, cum cumque, fuga asperiores doloribus possimus ab tempore eum
            porro similique blanditiis accusamus hic enim libero nam et incidunt voluptatem. Delectus voluptatum
            voluptates beatae iusto amet, deleniti rerum dicta, totam libero vel perspiciatis non facilis iure quisquam
            quo quam nisi similique facere. Nihil impedit dicta illum ad repellat fugiat eos soluta quaerat ab molestias
            veniam corporis ipsum eaque labore adipisci magnam placeat, sequi architecto consequatur sunt aut et
            voluptates error? Quasi explicabo ut error nulla. Sunt quaerat fugiat eum? Amet consectetur quia labore,
            voluptate officia saepe assumenda cumque inventore mollitia ut reiciendis harum optio eligendi quam corporis
            dolore maiores nihil, sint suscipit blanditiis odit esse, quis perspiciatis perferendis. Quos iusto officiis
            quisquam nemo minus repellat praesentium. Magnam itaque facilis ipsam! Hic sed minima dolorem vitae impedit
            facere. Ullam numquam recusandae iusto repellat maiores nam, distinctio eaque. Laboriosam fugit aperiam
            dicta fugiat. Qui deserunt consequatur amet voluptatem temporibus, voluptatum sequi eius iste facere
            corrupti aliquam quaerat voluptate quia facilis? Illo ullam atque delectus explicabo officia odio iusto
            similique suscipit assumenda debitis?
        </mat-card-content>
    </mat-card>
</div>