<div class="card-wrapper">
    <div class="card-content">
        <div class="header-title-card">
            <h2>{{"home" | translate}}</h2>
        </div>
        <mat-card class="info-card">
            <mat-card-content>
                <h3>{{ 'welcome-message-1' | translate }}<span class="highlight">{{ userName + '!'}}</span> </h3>
                <h6> {{
                    'welcome-message-2' | translate }}</h6>
            </mat-card-content>
        </mat-card>
        <mat-card class="tutorial-card">
            <mat-card-content>
                <mat-list>
                    <h4 mat-subheader>{{"main-functionalities" | translate}}</h4>
                    <mat-list-item *ngFor="let tutorial of tutorials1">
                        <mat-icon matListItemIcon>{{tutorial.icon}}</mat-icon>
                        <div matListItemTitle>{{tutorial.name}}</div>
                        <div matListItemLine>{{"steps" | translate }}{{ tutorial.steps}}</div>
                    </mat-list-item>

                </mat-list>
            </mat-card-content>
        </mat-card>
        <mat-card class="tutorial-card2">
            <mat-card-content>
                <mat-list>
                    <h4 mat-subheader>{{"calculators" | translate}}</h4>
                    <mat-list-item *ngFor="let tutorial of tutorials2">
                        <mat-icon matListItemIcon>{{tutorial.icon}}</mat-icon>
                        <div matListItemTitle>{{tutorial.name}}</div>
                        <div matListItemLine>{{"steps" | translate }}{{ tutorial.steps}}</div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

        <mat-card class="svg-card">
            <mat-card-content>
                <app-svg [svg]="'GYM_2'"></app-svg>
            </mat-card-content>
        </mat-card>
    </div>

</div>