<div class="upper-header">
    <div class="mac-buttons">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="info">
        <div class="panel" *ngFor="let component of components" (click)="openDialog(component.component)">
            {{ component.name | translate}}
        </div>
    </div>
    <div class="upper-buttons">
        <app-language-select class="language-select"></app-language-select>

        <button class="round-button" *ngIf="logged" (click)="logOut()">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>

</div>