@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import "/node_modules/flag-icons/css/flag-icons.min.css";
/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

* {
    scrollbar-width: thin;
    scrollbar-color: #3172C2 transparent;
    box-sizing: border-box;

}

:root {
    --primary-color: white;
    /* Domyślny kolor pierwotny */
    --secondary-color: #030B12;
    /* Domyślny kolor wtórny */
    --secondary-color-rgba: rgba(3, 11, 18, 0.90);

    --primary-color-rgba: rgba(255, 255, 255, 0.9);

}

/* WebKit scrollbar styles (for Chrome, Safari, Opera) */
*::-webkit-scrollbar {
    width: 8px;
    /* or any desired width */
    height: 8px;
    /* for horizontal scrollbars */
}

*::-webkit-scrollbar-track {
    background: transparent;
    /* background of the scrollbar track */
}

*::-webkit-scrollbar-thumb {
    background-color: #3172C2;
    /* color of the scrollbar itself */
    border-radius: 4px;
    /* roundness of the scrollbar */
    border: 2px solid transparent;
    /* creates padding around the scrollbar */
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container,
.cdk-drag-preview,
.cdk-drag-placeholder {
    z-index: 99999 !important;
}

.mdc-tooltip.custom-tooltip {
    .mdc-tooltip__surface {
        margin-left: 30px;
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;

    color: var(--secondary-color);
    ;
    scroll-behavior: smooth;
    background: #E9EDF5
}

ul {
    list-style-type: none;

}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.invisible {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.in-viewport-left {
    animation: fadeInLeft 1s forwards;
}

.in-viewport-right {
    animation: fadeInRight 1s forwards;
}

.in-viewport-up {
    animation: fadeInUp 1s forwards;
}

.in-viewport-down {
    animation: fadeInDown 1s forwards;
}

@keyframes pulse {
    0% {
        height: 100%;

        box-shadow: none;
    }

    50% {
        height: 150%;
        width: 101%;
        box-shadow: 0 0 15px var(--primary-color);
        background-color: #3172C2;

    }

    100% {
        height: 100%;

        box-shadow: none;
    }
}

.progress-pulse-animation {
    animation: pulse 1s ease-in-out forwards;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


app-root {
    display: block;
    height: 100%;
    width: 100%;
}

@import '../src/app/app.component.scss';
@import '../src/app/strength-builder/strength-builder.component.scss';
@import '../src/app/strength-builder/home-view/home-view.component.scss';
@import '../src/app/strength-builder/main-view/main-view.component.scss';
@import '../src/app/strength-builder/home-view/home-view-footer/home-view-footer.component.scss';
@import '../src/app/strength-builder/home-view/home-view-main/home-view-main.component.scss';
@import '../src//app/strength-builder/home-view/home-view-nav/home-view-nav.component.scss';
@import '../src/app/strength-builder/main-view/dashboard/dashboard.component.scss';
@import '../src/app/strength-builder/main-view/side-nav/side-nav.component.scss';
@import '../src/app/strength-builder/main-view/plans/plans.component.scss';
@import '../src/app/strength-builder/main-view/analysis/analysis.component.scss';
@import '../src/app/strength-builder/main-view/categories/categories.component.scss';
@import '../src/app/strength-builder/main-view/error/error.component.scss';
@import '../src/app/strength-builder/main-view/home/home.component.scss';
@import '../src/app/strength-builder/main-view/users/users.component.scss';
@import '../src/app/strength-builder/main-view/exercises/exercises.component.scss';
@import '../src/app/strength-builder/main-view/dialogs/modal-view/modal-view.component.scss';
@import '../src/app/strength-builder/upper-nav/faq/faq.component.scss';
@import '../src/app/strength-builder/upper-nav/data/data.component.scss';
@import '../src/app/strength-builder/upper-nav/bmi-calc/bmi-calc.component.scss';
@import '../src/app/strength-builder/upper-nav/ffmi-calc/ffmi-calc.component.scss';
@import '../src/app/strength-builder/upper-nav/calories-calc/calories-calc.component.scss';
@import '../src/app/strength-builder/main-view/dialogs/add-exercise/add-exercise.component.scss';








html,
body {
    height: 100%;
}