<div class="card-wrapper">
    <div class="card-content">
        <div class="header-title-card">
            <h2>{{"exercises" | translate}}</h2>
            <div class="add-section">
                <span class="button-text">{{"add-exercise" | translate}}</span>
                <button mat-fab color="primary" (click)="openFullscreen()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <mat-card class="svg-card" *ngIf="exercises.length===0">
            <mat-card-content>
                <app-svg [svg]="'NO_DATA'"></app-svg>
            </mat-card-content>
        </mat-card>
        <mat-card class="table-card" *ngIf="exercises.length!==0">
            <mat-card-content>
                table </mat-card-content>
        </mat-card>
    </div>

</div>