app-exercises {
    width: 100%;
    height: 100%;

    @keyframes pulse {
        0% {
            background-color: #e8e8e8;
        }

        50% {
            background-color: #d0d0d0;
            /* Zmień na inny odcień szarego dla efektu pulsowania */
        }

        100% {
            background-color: #e8e8e8;
        }
    }

    .card-wrapper {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow-y: auto;


        .card-content {
            min-height: 100%;
            width: 90%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            padding: 3vh 0;
            animation-name: fadeInUp;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            opacity: 0;

            .table-actions {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                padding-bottom: 3vh;



                .filters {
                    width: 90%;
                }

                .action-buttons {
                    width: 10%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                }
            }



            .header-title-card {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding-bottom: 3vh;



                h3 {
                    font-weight: 700;
                    margin: 0;
                }

                .add-section {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;

                    .button-text {
                        margin-right: 10px;
                    }
                }

            }

            .table-container {
                width: 100%;
                padding-bottom: 3vh;

                table {
                    width: 100%;
                }

                tr.example-detail-row {
                    height: 0;
                }

                tr.example-element-row:not(.example-expanded-row):hover {
                    background: whitesmoke;
                }

                tr.example-element-row:not(.example-expanded-row):active {
                    background: #efefef;
                }

                .example-element-row td {
                    border-bottom-width: 0;
                }

                .no-padding {
                    padding: 0;
                }

                .svg-wrapper {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    app-svg {
                        width: 500px;
                    }
                }


                .example-element-detail {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;

                    .column-details {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;


                    }

                    .video-con {
                        height: 100%;
                        width: 100%;
                        padding: 16px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        mat-card {
                            mat-card-content {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }

                    .detail-element:active {
                        background: #efefef;

                    }

                    .detail-element:hover {
                        background: whitesmoke;

                    }



                    .detail-element {
                        padding: 16px;
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: row;
                        border-top: 1px solid #E0E0E0;
                        position: relative;
                        font-weight: 300;


                        .detail-td {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                        }

                        th {
                            font-weight: 500;
                            display: flex;
                            align-items: center;
                            padding-right: 5px;
                            color: #3172C2;

                        }


                        mat-icon {
                            cursor: pointer;
                        }


                        .detail-element-set {
                            min-height: 52px;

                            .padding-16px {
                                padding-left: 30px;
                            }
                        }
                    }

                    .expanded-element {
                        display: none;
                    }

                }


            }

        }

    }

}


@media (max-width: 768px) {

    app-exercises {
        width: 100%;
        height: 100%;





        .card-wrapper {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            .card-content {
                height: 100%;
                width: 90%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                padding: 3vh 0;

                .table-actions {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;




                    .action-buttons {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: row;
                    }
                }

                .header-title-card {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding-bottom: 3vh;



                    h3 {
                        font-weight: 700;
                        margin: 0;
                    }

                    .add-section {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;

                        .button-text {
                            margin-right: 10px;
                        }
                    }

                }

                .table-container {
                    width: 100%;

                    table {
                        width: 100%;
                    }

                    tr.example-detail-row {
                        height: 0;
                    }

                    tr.example-element-row:not(.example-expanded-row):hover {
                        background: whitesmoke;
                    }

                    tr.example-element-row:not(.example-expanded-row):active {
                        background: #efefef;
                    }

                    .example-element-row td {
                        border-bottom-width: 0;
                    }

                    .no-padding {
                        padding: 0;
                    }

                    .svg-wrapper {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        app-svg {
                            width: 250px;
                        }
                    }

                    .example-element-detail {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        flex-wrap: wrap;
                        width: 100%;
                        height: 100%;




                        .column-details {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-direction: column;
                        }

                        .video-con {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            flex-direction: column;

                            mat-card {
                                mat-card-content {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                        }


                        .detail-element {
                            padding: 16px;
                            width: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-direction: row;
                            flex-wrap: wrap;

                            .detail-td {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                            }


                            th {
                                font-weight: 500;
                                display: flex;
                                align-items: center;
                                margin-right: 5px;
                            }


                            mat-icon {
                                cursor: pointer;
                            }


                            .detail-element-set {
                                min-height: 52px;

                                .padding-16px {
                                    padding-left: 30px;
                                }
                            }
                        }

                        .expanded-element {
                            display: none;
                        }

                    }


                }


                .svg-card {
                    grid-area: svg-card;
                    width: 100% !important;
                    height: 100% !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    app-svg {
                        width: 600px
                    }


                }
            }
        }

    }

}