<div class="card-wrapper">
    <div class="card-content">
        <div class="header-title-card">
            <h3>{{"exercises" | translate}}</h3>

            <div class="add-section">
                <span class="button-text">{{"add-exercise" | translate}}</span>
                <button mat-fab color="primary" (click)="addExercise()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <div class="table-actions">
            <div class="filters">
                <app-filters [dataSource]="dataSource" [data]="exercises" [filters]="filters"
                    (dataSourceUpdated)="onDataSourceUpdated($event)"></app-filters>
            </div>
            <div class="action-buttons">
                <button [matTooltip]="'edit' | translate" [disabled]="selection.selected.length !== 1" mat-icon-button
                    (click)="editExercise()" aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>edit</mat-icon>
                </button>
                <button [matTooltip]="'delete' | translate" (click)="deleteExercise()"
                    [disabled]="!selection.selected.length" mat-icon-button
                    aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8"
                *ngIf="dataSource.data.length">
                <ng-container matColumnDef="select">
                    <th class="col-checkbox" mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td class="col-checkbox" mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="exercise_name">
                    <th class="col-column" mat-header-cell *matHeaderCellDef mat-sort-header> {{ "exercise_name" |
                        translate }}
                    </th>
                    <td class="col-column" mat-cell *matCellDef="let element">
                        {{element.name}}
                    </td>

                </ng-container>
                <ng-container matColumnDef="movementType">
                    <th class="col-column" mat-header-cell *matHeaderCellDef mat-sort-header> {{ "movementType" |
                        translate }}
                    </th>
                    <td class="col-column" mat-cell *matCellDef="let element">
                        {{element.movementType |translate}}
                    </td>

                </ng-container>
                <ng-container matColumnDef="category">
                    <th class="col-column" mat-header-cell *matHeaderCellDef mat-sort-header>{{"category" |
                        translate}} </th>
                    <td class="col-column" mat-cell *matCellDef="let element">
                        <ng-container *ngFor="let category of element.category; let i = index; let last = last">
                            <span>{{ category | translate }}</span><span *ngIf="!last">, </span>
                        </ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th class="col-column" mat-header-cell *matHeaderCellDef mat-sort-header>{{"type" | translate}}
                    </th>
                    <td class="col-column" mat-cell *matCellDef="let element">
                        <ng-container *ngFor="let type of element.type; let i = index; let last = last">
                            <span>{{ type | translate }}</span><span *ngIf="!last">, </span>
                        </ng-container>
                    </td>
                </ng-container>
                <ng-container matColumnDef="exp">
                    <th class="col-column" mat-header-cell *matHeaderCellDef mat-sort-header> {{ "exp" | translate }}
                    </th>
                    <td class="col-column" mat-cell *matCellDef="let element">
                        <ng-container *ngFor="let exp of element.exp; let i = index; let last = last">
                            <span>{{ exp | translate }}</span><span *ngIf="!last">, </span>
                        </ng-container>
                    </td>
                </ng-container>


                <!-- <ng-container matColumnDef="sets">
                    <th class="col-sets" mat-header-cell *matHeaderCellDef>{{"sets" |
                        translate}} </th>
                    <td class="col-sets" mat-cell *matCellDef="let element"><mat-icon style="cursor: pointer;"
                            [matMenuTriggerFor]="sets">touch_appa</mat-icon>
                        <mat-menu #sets="matMenu" class="sets-menu">
                            <ng-container *ngFor="let set of element.sets; let i = index">
                                <button (mouseenter)="selectSet(set)" (touchstart)="selectSet(set)" mat-menu-item
                                    [matMenuTriggerFor]="setsMenu">{{"set" |
                                    translate}}
                                    {{i +1}}</button>
                                <mat-menu #setsMenu="matMenu" class="set-menu">
                                    <div style="padding: 10px;" *ngIf="selectedSet">
                                        <div><span style="font-weight: 500;">{{"reps" | translate}}:
                                            </span><span>{{selectedSet.reps}}</span></div>
                                        <div><span style="font-weight: 500;">{{"rpe" | translate}}:
                                            </span><span>{{selectedSet.rpe}}</span></div>
                                        <div><span style="font-weight: 500;">{{"weight" | translate}}:
                                            </span><span>{{selectedSet.weight}}</span></div>
                                        <div><span style="font-weight: 500;">{{"tempo" | translate}}:
                                            </span><span>{{selectedSet.tempo}}</span></div>
                                    </div>
                                </mat-menu>
                            </ng-container>
                        </mat-menu>
                    </td>
                </ng-container> -->
                <ng-container matColumnDef="expand">
                    <th class="col-expand" mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td class="col-expand" mat-cell *matCellDef="let element">
                        <button mat-icon-button aria-label="expand row"
                            (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="expandedDetail">
                    <td class="no-padding" mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">

                        <div class="example-element-detail"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                            <div class="column-details">
                                <div class="detail-element">
                    <th>{{"bodyPart" | translate}}: </th>
                    <div class="detail-td" *ngFor="let bodyPart of element.bodyPart; let i = index; let last = last">
                        <span>{{ bodyPart | translate
                            }}</span><span *ngIf="!last" style="margin-right: 5px;">, </span>
                    </div>
        </div>
        <div class="detail-element">
            <th>{{"movementPlane" | translate}}: </th>
            <td>{{element.movementPlane | translate}}</td>
        </div>
        <div class="detail-element" *ngIf="!displayedColumns.includes('movementType')">
            <th>{{"movementType" | translate}}: </th>
            <td>{{element.movementType | translate}}</td>
        </div>
        <div class="detail-element">
            <th>{{"exercise_description" | translate}}: </th>
            <td>{{element.description}}</td>
        </div>
        <div class="detail-element" *ngIf="!displayedColumns.includes('category')">
            <th>{{"category" | translate}}: </th>
            <div class="detail-td" *ngFor="let category of element.category; let i = index; let last = last">
                <span>{{ category | translate
                    }}</span><span style="margin-right: 5px;" *ngIf="!last">, </span>
            </div>
        </div>
        <div class="detail-element" *ngIf="!displayedColumns.includes('type')">
            <th>{{"type" | translate}}: </th>
            <div class="detail-td" *ngFor="let type of element.type; let i = index; let last = last">
                <span>{{ type | translate
                    }}</span><span style="margin-right: 5px;" *ngIf="!last">, </span>
            </div>
        </div>
        <div class="detail-element" *ngIf="!displayedColumns.includes('exp')">
            <th>{{"exp" | translate}}: </th>
            <div class="detail-td" *ngFor="let exp of element.exp; let i = index; let last = last">
                <span>{{ exp | translate
                    }}</span><span style="margin-right: 5px;" *ngIf="!last">, </span>
            </div>
        </div>

        <div class="detail-element">
            <th>{{"coeff_value" | translate}} </th>
            <td>{{element.coeff}}</td>
        </div>
        <div class="detail-element">
            <th>{{"isCompetition" | translate}}: </th>
            <td>{{element.isCompetitionLift ? ("yes" | translate) : ("no" | translate)}}</td>
        </div>
        <!-- <div class="detail-element" *ngIf="!displayedColumns.includes('sets')">
            <th>{{"sets" | translate}}</th>
            <mat-icon [matMenuTriggerFor]="sets">touch_appa</mat-icon>
            <mat-menu #sets="matMenu" class="sets-menu">
                <ng-container *ngFor="let set of element.sets; let i = index">
                    <button (mouseenter)="selectSet(set)" mat-menu-item [matMenuTriggerFor]="setsMenu">{{"set" |
                        translate}}
                        {{i +1}}</button>
                    <mat-menu #setsMenu="matMenu" class="set-menu">
                        <div style="padding: 10px;" *ngIf="selectedSet">
                            <div><span style="font-weight: 500;">{{"reps" | translate}}:
                                </span><span>{{selectedSet.reps}}</span></div>
                            <div><span style="font-weight: 500;">{{"rpe" | translate}}:
                                </span><span>{{selectedSet.rpe}}</span></div>
                            <div><span style="font-weight: 500;">{{"weight" | translate}}:
                                </span><span>{{selectedSet.weight}}</span></div>
                            <div><span style="font-weight: 500;">{{"tempo" | translate}}:
                                </span><span>{{selectedSet.tempo}}</span></div>
                        </div>
                    </mat-menu>
                </ng-container>
            </mat-menu>

        </div> -->


    </div>

    <div class="video-con">
        <mat-card>
            <mat-card-content> <app-video-player [url]="element.videoUrl"></app-video-player>
            </mat-card-content>
        </mat-card>
    </div>
</div>
</td>
</ng-container>
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element">
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<app-empty-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"></app-empty-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
</div>
</div>
</div>