<mat-sidenav-container class="sidenav-container" [hasBackdrop]="'false'">
    <mat-sidenav #sidenav mode="push" [(opened)]="isOpen" class="sidenav">
        <div class="logo-nav">
            <img src="../../../../assets/img/logo3.png" alt="logo">
        </div>
        <mat-nav-list>
            <ng-container *ngFor="let item of menuItems">
                <a *ngIf="hasRole(item.role)" [routerLink]="item.routeLink" class="nav-item" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}" (click)="closeNav()">
                    <mat-icon>{{ item.icon }}</mat-icon>
                    <span class="nav-label" *ngIf="isOpen">{{ item.label | translate }}</span>
                </a>
            </ng-container>
            <ng-container *ngFor="let component of components">
                <a *ngIf="mobileRes" (click)="openDialog(component.component);closeNav()" class="nav-item">
                    <mat-icon>{{ component.icon }}</mat-icon>

                    <span class="nav-label">{{ component.name | translate}}</span></a>
            </ng-container>
            <ng-container *ngFor="let component of secondComponents">
                <a (click)="openDialog(component.component);closeNav()" class="nav-item">
                    <mat-icon>{{ component.icon }}</mat-icon>

                    <span class="nav-label">{{ component.name | translate}}</span></a>
            </ng-container>
        </mat-nav-list>
        <div class="buttons-section">
            <button class="custom-button" (click)="logOut()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <app-header class="sticky-header" [mobileRes]="mobileRes"></app-header>
        <div class="router-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>