.sidenav-container {
    height: 90vh;



    .sidenav {
        width: 200px;


        .mat-drawer-inner-container {
            display: flex;
            height: 100%;
            align-items: center;
            flex-direction: column;


        }


        .logo-nav {
            width: 100%;
            min-height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0px;
        }

        .buttons-section {
            position: absolute;
            bottom: 0;
            margin: 20px 0px;

            justify-content: center;
            display: flex;
            width: 90%;
            align-items: center;
            flex-direction: row;

            .custom-button {
                width: 100%;
                padding: 10px 20px;
                cursor: pointer;
                border: none;
                background-color: #3c86cf;
                border-radius: 20px;
                color: white;
            }

        }

        mat-nav-list {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;

            .nav-item.active {
                background-color: #030B12;
                border-radius: 20px;
                color: white;
            }

            .nav-item:hover {
                background-color: #030B12;
                border-radius: 20px;
                color: white;
            }

            .nav-item {
                width: 90%;
                padding: 10px 20px;
                margin: 10px 0;
                border-radius: 25px;
                cursor: pointer;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                transition: background-color 0.5s ease, border-radius 0.5s ease, color 0.5s ease;

                mat-icon {
                    padding-right: 10px;

                }

                .nav-label {
                    font-size: 1rem;
                    margin-left: 10px;

                }
            }

            .other-item {
                font-size: 0.7rem;
            }

        }
    }

    .sidenav-content {
        .content-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 5vh;


            .button-three {
                animation-name: fadeInRight;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                opacity: 0;
                --button-color: black;
                overflow: hidden;
                width: 50px;
                height: 50px;
                background-color: transparent;
                border: none;
                display: none;

            }

            .button-three .hamburger {

                transition: translate 1s, rotate 1s;
                width: 30px;
                height: 30px;
                cursor: pointer;
            }

            .button-three[aria-expanded="true"] .hamburger {
                rotate: 0.125turn;
            }

            .button-three .line {
                transition: 1s;
                stroke-dasharray: 60 31 60 300;
            }

            .button-three[aria-expanded="true"] .line {
                stroke-dasharray: 60 105 60 300;
                stroke-dashoffset: -90;
            }
        }
    }


}

@media (max-width: 1024px) {
    .sidenav-container {
        height: 84vh;

        .sidenav .buttons-section {
            position: relative;
            bottom: auto;
        }

        .sidenav-content .content-buttons .button-three {
            display: block;
        }
    }

}