.sidenav-container {
    height: 95vh;

    .sidenav {
        width: 250px;

        .mat-drawer-inner-container {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
        }

        .logo-nav {
            width: 100%;
            min-height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            // margin: 20px 0px;
        }

        .buttons-section {
            // position: absolute;
            // bottom: 0;
            // margin: 20px 0px;

            justify-content: center;
            display: flex;
            width: 90%;
            align-items: center;
            flex-direction: row;

            .custom-button {
                width: 100%;
                padding: 10px 20px;
                border-radius: 35px;
                font-weight: 500;
                outline: none;
                color: var(--primary-color);
                background-color: #3c86cf;
                box-shadow: 8px 8px 24px -5px var(--secondary-color);
                border: none;
                font-size: 1.5rem;
                position: relative;
                cursor: pointer;
                transition: all 0.1s ease;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .custom-button:active {
                transform: scale(0.9)
            }


        }

        mat-nav-list {
            display: flex;
            // justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 75%;
            overflow-y: auto;



            .nav-item.active {
                background-color: var(--secondary-color);
                border-radius: 35px;
                color: var(--primary-color);
            }

            .nav-item:active {
                background-color: var(--secondary-color);
                border-radius: 35px;
                color: var(--primary-color);
            }

            .nav-item:hover {
                background-color: var(--secondary-color);
                border-radius: 35px;
                color: var(--primary-color);
            }

            .nav-item {
                font-size: 1rem;

                width: 90%;
                padding: 10px 20px;
                margin-bottom: 20px;
                border-radius: 35px;
                cursor: pointer;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                transition: all 0.1s ease;

                mat-icon {

                    padding-right: 10px;

                }

                .nav-label {
                    margin-left: 10px;

                }
            }

            .other-item {
                font-size: 0.7rem;
            }

        }
    }

    .sidenav-content {
        max-width: calc(100vw - 250px);
        background-color: var(--secondary-color);


        .sticky-header {
            position: sticky;
            top: 0;
            z-index: 10000;
            width: 100%;
        }

        .router-content {
            min-height: 90vh;
            width: 100%;
            padding: 3vh 3vh 0 3vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

@media (max-width: 1024px) {
    .sidenav-container {
        height: 95vh;


        .sidenav .logo-nav {
            margin: 20px 0px;


        }

        .sidenav .buttons-section {
            margin: 20px 0px;


        }


        .sidenav mat-nav-list .nav-item {
            margin: 10px 0px;
            font-size: 1rem;

        }

        .sidenav-content {
            max-width: 100%
        }

        .sidenav-content .router-content {
            min-height: 84vh;

        }
    }

}