.bottom-footer {

    height: 5vh;
    background-color: #030B12;
    width: 100%;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 90%;


}

@media (max-width: 1024px) {
    .bottom-footer {
        font-size: 70%;
    }
}